<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span> Chat
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>
                        <ul class="dropdown-menu slidedown">
                            <li><a  data-toggle="modal" data-target="#addUser" ><span class="fa fa-user-plus">
                            </span> Add user</a></li>
                        </ul>
                    </div>
                </div>
                <div id="chatscroll" class="panel-body" style="overflow-y: auto; height: 400px">
                    <ul class="chat" ng-repeat="chatt in chat">
                        <li ng-if="chatt.user._id!=usuar.userid" class="left clearfix"><span class="chat-img pull-left">
                            <img ng-src="{{chatt.user.imageUrl}}" width="50" height="50" alt="User Avatar" class="img-circle">
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">{{chatt.user.username}}</strong>
                                </div>
                                <p>
                                    <font class="pull-left" color="blue">{{chatt.message}}
                                    </font>
                                    <br>
                                    <small class="pull-left"><span>{{chatt.date | amTimeAgo}}</span>
                                    </small>
                                </p>
                            </div>
                        </li>
                        <li class="right clearfix" ng-if='chatt.user._id==usuar.userid'><span class="chat-img pull-right">
                            <img ng-src="{{chatt.user.imageUrl}}" width="50" height="50" alt="User Avatar" class="img-circle">
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <small class=" text-muted"></small>
                                    <strong class="pull-right primary-font">{{chatt.user.username}}</strong>
                                </div>
                                <br>
                                <p>
                                    <font class="pull-right" color="blue">{{chatt.message}}
                                    </font>
                                    <br>
                                    <small class="pull-right"> <span>{{chatt.date | amTimeAgo}}</span></small>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" ng-model="message.text" type="text" class="form-control input-sm" placeholder="Type your message here...">
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat" ng-click="sendMessage()">
                                Send</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title"><p class="text-primary">Add user:</p></h6></h2>
                <div class="modal-body">
                    <form class=" navbar-left-right" >
                        <div class="container-fluid typeahead-demo">
                            <div class="input-group input-group-in">
                                <input type="text" placeholder="Search..."  ng-model="userSelected" uib-typeahead="user for user in users | filter:$viewValue | limitTo:5"
                                       class="form-control" typeahead-on-select="onSelect($item, $model, $label)" ng-model-options="modelOptions" >
                                    <span class="input-group-btn">
                                        <button class="btn btn-success" type="button"><i class="fa fa-search"></i></button>
                                    </span>
                            </div>
                        </div>
                    </form>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
</div>