<div class="banner">
    <h2>
        <a href="/" data-match-route="/">Home</a>
        <i class="fa fa-angle-right"></i><a href="/drones">Drones</a>
    </h2>
</div>
<!-- tab content -->
<div class="content-bottom">
<div class="col-md-8">
<div class="tab-pane active text-style" id="tab1">
  <div class="inbox-right">

            <div class="mailbox-content">
               <div class="mail-toolbar clearfix">
			     <div class="float-left">
			       <div class="btn-group m-r-sm mail-hidden-options" style="display: inline-block;">

                                <div class="btn-group">
                                    <a class="btn btn-default dropdown-toggle" data-toggle="modal"  data-target="#myModal" aria-expanded="false"><i class="fa fa-plus"></i> Add new drone</span></a>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li><a href="#">Work</a></li>
                                        <li><a href="#">Family</a></li>
                                        <li><a href="#">Social</a></li>

                                        <li><a href="#">Primary</a></li>
                                        <li><a href="#">Promotions</a></li>
                                        <li><a href="#">Forums</a></li>
                                    </ul>
                                </div>
                            </div>


			    </div>
			    <div class="float-right">

                            <div class="btn-group">
                                <a class="btn btn-default" ng-click="getdrones(page0)" ng-disabled="habilitarmenos"><i class="fa fa-angle-left"></i></a>
                                <a class="btn btn-default" ng-click="getdrones(page1)" ng-disabled="habilitar"><i class="fa fa-angle-right"></i></a>
                            </div>


			    </div>

               </div>
                <table class="table">
                    <tbody>
                        <tr class="table-row" ng-repeat="dr in drones" >
                            <td class="table-img" ng-click="putDronsito(dr)">
                               <img src={{dr.imageUrl}} alt="" height= "100" />
                            </td>
                            <td class="table-text" ng-click="putDronsito(dr)">
                            	<h6> {{dr.model}}</h6>
                                <p>{{dr.vendor}}</p>
                            </td>
                          <td>
                              <a class="btn btn-default btn-lg" ng-click="deleteDrone()"><i class="fa fa-trash"></i></a> </td>
                        </tr>

                    </tbody>
                </table>
              <div id="alerts-container"></div>
        <div id="alerts-"></div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title"><h6 class="text-primary">New Drone Form</h6></h2>
                </div>
      <div class="modal-body">
          <form enctype="multipart/form-data" name="Form" ng-submit="submitForm(myForm.$valid)">
              <div class="col-md-6">
                  <div class="login-mail">
                      <input type="text" placeholder="Model" ng-model="newDrone.model" required>
                      <i class="fa fa-plane"></i>
                  </div>
                  <div class="login-mail">
                      <input type="text" placeholder="Vendor" ng-model="newDrone.vendor"  required>
                      <i class="fa fa-plane"></i>
                  </div>
                  <div class="login-mail">
                      <input type="text" placeholder="Description" ng-model="newDrone.description" required>
                      <i class="fa fa-plane"></i>
                  </div>
                  <div class="login-mail">
                      <h4>Drone profile</h4>
                      <input type='file' file-model="fileModel" id="imgInp" onchange="angular.element(this).scope().file_changed(this)" accept="image/*">
                  </div>
              </div>
              <div class="col-md-6 login-do">
                  <label class="hvr-shutter-in-horizontal login-sub">
                      <input ng-disabled="myForm.$invalid" ng-click="registerDrone()" type="submit" value="Add drone">
                  </label>
              </div>

              <div class="clearfix"> </div>
          </form>
            </div>

        </form>
      </div>
    </div>
</div>
</div>
</div>
               </div>
            </div>
</div>

</div>