<div class="banner">
    <h2>
        <a href="/" data-match-route="/">Home</a>
        <i class="fa fa-angle-right"></i><a href="/drones">Drones</a>
        <i class="fa fa-angle-right"></i><a href="#">{{ TempDronsi.model }}</a>

    </h2>
</div>

<!--gallery-->
<div class="col-md-12">
<div class=" profile">

 <div class="profile-bottom">
   <h3><i class="fa fa-plane"></i>{{ TempDronsi.model }}</h3>  <h6>by: {{ TempDronsi.vendor}}</h6>

   <div class="profile-bottom-top">
   <div class="col-md-4 profile-bottom-img">
     <img src="{{ TempDronsi.imageUrl }}" alt="" width="100%">
   </div>
   <div class="col-md-8 profile-text">


     <table>
     <tr><td>Weight</td>
     <td>:</td>
     <td>{{ TempDronsi.weight}} gr</td></tr>
     <tr>
     <td>Battery</td>
     <td> :</td>
     <td>{{ TempDronsi.battery }} mAh</td>
     </tr>
     <tr>
     <td>Release</td>
     <td> :</td>
     <td> {{TempDronsi.releaseDate}}</td>
     </tr>
     <tr>
     <td>Description</td>
     <td>:</td>
     <td>{{ TempDronsi.description }}</td>
     </tr>
     </table>

   </div>
   <div class="clearfix"></div>
   </div>
   <div class="profile-bottom-bottom">
   <div class="col-md-4 profile-fo">
       <p>I have this Drone</p>
     <a href="#" class="pro" ng-click="addMyDronsi()"><i class="fa fa-plus-circle"></i>Add to my Drones</a>
   </div>
   <div class="col-md-4 profile-fo">
   </div>
   <div class="clearfix"></div>
   </div>
   <div class="profile-btn">
        <div class="clearfix"></div>
   </div>


 </div>
</div>
</div>

<!--//gallery-->
