<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="content-main">

        <!--banner-->
        <div class="banner">
            <h2>
                <a href="index.html">Home</a>
                <i class="fa fa-angle-right"></i>
                <span>Edit Profile</span>
            </h2>
        </div>
        <!--//banner-->
        <!--gallery-->
        <div class=" profile col-md-6" >

            <div class="profile-bottom">
                <h3><i class="fa fa-user"></i>Profile</h3>
                <div class="profile-bottom-top">
                    <div class="col-md-4 profile-bottom-img text-center">
                        <img ng-src={{currentUser.imageUrl}} width="150" height="150" alt="">
                    </div>
                    <div class="col-md-8 profile-text">
                        <h6><span class=" name-caret">{{currentUser.username}}</span></h6>
                        <table>
                            <tr><td>Name</td>
                                <td>:</td>
                                <td class=" name-caret">{{currentUser.name}}</span></td></tr>
                            <tr>
                                <td>Last Name</td>
                                <td> :</td>
                                <td  class=" name-caret">{{currentUser.lastname}}</span></td>
                            </tr>
                            <tr>
                                <td>Username </td>
                                <td>:</td>
                                <td  class=" name-caret">{{currentUser.username}}</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td> :</td>
                                <td  class=" name-caret">{{currentUser.mail}}</span></td>
                            </tr>
                        </table>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="profile-bottom-bottom">
                    <div class="col-md-6 profile-fo">

                        <a href="#" class="pro1"><i class="fa fa-user"></i>Edit Profile</a>
                    </div>
                    <div class="col-md-6 profile-fo">

                        <a href="#"><i class="fa fa-cog"></i>Options</a>
                    </div>
                    <div class="clearfix"></div>



            </div>
        </div>
		</div>
		<div class="panel-body col-md-6">
						<form role="form" class="form-horizontal">
						<div class="form-group">
							<label class="col-md-2 control-label">Name</label>
							<div class="col-md-8">
								<div class="input-group">							
									<span class="input-group-addon">
										<i class="fa fa-envelope-o"></i>
									</span>
									<input type="text" class="form-control1" placeholder="Email Address">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label">Last Name</label>
							<div class="col-md-8">
								<div class="input-group">							
									<span class="input-group-addon">
										<i class="fa fa-envelope-o"></i>
									</span>
									<input type="text" class="form-control1" placeholder="Email Address">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label">Username</label>
							<div class="col-md-8">
								<div class="input-group">							
									<span class="input-group-addon">
										<i class="fa fa-envelope-o"></i>
									</span>
									<input type="text" class="form-control1" placeholder="Email Address">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label">Mail</label>
							<div class="col-md-8">
								<div class="input-group">							
									<span class="input-group-addon">
										<i class="fa fa-envelope-o"></i>
									</span>
									<input type="text" class="form-control1" placeholder="Email Address">
								</div>
							</div>
						</div>	
						
						
		
					</form>
	
		
		</div>
							<div class="profile-btn">

                <button type="button" href="#" class="btn bg-red">Save changes</button>
           <div class="clearfix"></div>
                </div>
        <!--//gallery-->
        <!---->

    </div>
    <div class="clearfix"> </div>
</div>
