<div class="banner">
    <h2>
        <a href="/" data-match-route="/">Home</a>
        <i class="fa fa-angle-right"></i>Event
    </h2>
</div>
<div align="center">
    <br>
<div id="map2"  style="width:500px;height:200px;"></div>
</div>

<div ng-if="object._id">
    <div class=" profile">
    <div class="profile-bottom">
        <h3><i class="fa fa-map-marker"></i>Event</h3>
        <div class="profile-bottom-top">
            <div class="col-md-8 profile-text">
                <button ng-show="usr.admin || usr.username==object.createdby.username" class="btn btn-danger btn-sm" ng-click="borrarEvento(object._id)">x</button><h6>Event Name: {{object.name}}</h6>
                <table>
                    <tr><td>Description</td>
                        <td>:</td>
                        <td>{{object.description}}
                        </td>
                    </tr>
                    <tr>
                        <td>Created by</td>
                        <td>:</td>
                        <td>{{object.createdby.username}}</td>
                    </tr>
                    <tr>
                        <td>Day</td>
                        <td> :</td>
                        <td>{{object.day}}</td>
                    </tr>
                    <tr>
                        <td>Hour</td>
                        <td>:</td>
                        <td>{{object.hour}}</td>
                    </tr>
                </table>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="profile-bottom-bottom">
            <div class="col-md-12 profile-fo">
                <h4>{{object.go.length}} person</h4>
                <p>go to event</p>
                <div ng-if="object.createdby._id!=user.userid">
                    <div ng-if="show.id==undefined">
                        <a ng-click="goto();" class="pro1"><i class="fa fa-plus-circle"></i> Assist</a>
                    </div>
                    <div ng-if="show.id!=undefined">
                        <a ng-click="dontgoto();"><i class="fa fa-minus-circle"></i> I don't assist</a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="profile-btn">
            <button type="button" data-toggle="modal" data-target="#myModal"  ng-click="goes(object._id)" class="btn bg-red">Who goes to event?</button>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title"><p class="text-primary">Who goes to the event?</p></h2>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <tr ng-repeat="user in go" ng-click="selectUser(user)">
                        <td><img ng-src={{user.imageUrl}} width="50" height="50"></td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.mail }}</td>
                    </tr>
                </table>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div ng-if="err">
    <div class="four">
        <img src="images/404.png" alt="" />
        <p>The event doesn't exists because it has already passed.</p>
        <a href="/" class="hvr-shutter-in-horizontal">Go To Home</a>
    </div>
</div>