<div class="banner">
    <h2>
        <a href="/" data-match-route="/">Home</a>
    </h2>
</div>
<div class="content-bottom">
    <div class="col-md-6" ng-if="usuar._id">
        <div class="post">
            <form class="text-area">
                <textarea  ng-model="newMessage.message" required="" placeholder="What are you doing..."></textarea>
            </form>
            <div class="post-at">
                <!--
                <ul class="icon">


                    <div  class="post-file">
                        <i class="fa fa-location-arrow"></i>
                        <input id="input-1" name="input1[]" type="file" multiple="" class="">
                    </div>
                    <div  class="post-file">
                        <i class="fa fa-camera"></i>
                        <input id="input-2" name="input2[]" type="file" multiple="" class="">
                    </div>
                    <div  class="post-file">
                        <i class="fa fa-video-camera"></i>
                        <input id="input-3" name="input3[]" type="file" multiple="" class="">
                    </div>
                    <div  class="post-file">
                        <i class="fa fa-microphone"></i>
                        <input id="input-4" name="input4[]" type="file" multiple="" class="">
                    </div>

                    <script>
                        $(document).on('ready', function() {
                            $("#input-1").fileinput({showCaption: false});
                        });
                    </script>
                    <script>
                        $(document).on('ready', function() {
                            $("#input-2").fileinput({showCaption: false});
                        });
                    </script>
                    <script>
                        $(document).on('ready', function() {
                            $("#input-3").fileinput({showCaption: false});
                        });
                    </script>
                    <script>
                        $(document).on('ready', function() {
                            $("#input-4").fileinput({showCaption: false});
                        });
                    </script>
                </ul>
                -->
                <form class="text-sub">
                    <input type="submit" value="post" ng-click="enviarMensaje()">
                </form>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div infinite-scroll='loadMore()'>
    <div class="col-md-6" ng-repeat="message in messages">
        <div class="panel panel-primary">
            <div class="panel-heading"><div ng-show="k" align="right" ng-if="usuar.userid==message.username._id"><button class="btn btn-danger btn-sm" ng-click="borrarMensaje(message._id)">x</button> </div><div align="right" ng-if="usuar.userid!=message.username._id" ng-show="usr.admin"><button class="btn btn-danger btn-sm" ng-click="borrarMensaje(message._id)">x</button> </div><h3>{{message.username.username}}</h3>
                <h6>{{message.createdAt}}</h6>
            </div>
            <div class="panel-body">
                <p ng-bind-html = "message.text" ></p>
            </div>
            <div class="panel-footer">
                <a href="" ng-click="LikeMensaje(message._id)"><i class="fa fa-thumbs-up"></i>Like</a>
                <a href="" data-toggle="modal" data-target="#myModal"  ng-click="verMensaje(message._id)"><i class="fa fa-comment"></i>Show all</a>
                <div class="panel-footer">
                    <div class="col-md-6"><h6><i class="fa fa-thumbs-up"></i>{{message.like}} person like this.</h6></div>
                    <div class="col-md-6"><h6><i class="fa fa-comment"></i>{{message.comment.length}} comments.</h6></div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title"><p class="text-primary">{{message1.username.username}}</p><h6>{{message1.Date | amDateFormat: 'DD/MM/YYYY HH:mm:ss'}}</h6></h2>
                <div align="right" ng-if="usuar.userid==message1.username._id">
                    <div ng-hide="!ed">
                    <button type="button" class="btn btn-sm btn-primary" ng-click="editando(false)"><i class="fa fa-edit"></i> Edit mode</button>
                    </div>
                    <div ng-hide="ed">
                        <button type="button" class="btn btn-sm btn-primary" ng-click="editando(true)"><i class="fa fa-remove"></i> Cancel</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div ng-hide="!ed">
                    <h3 ng-bind-html="message1.text"></h3>

                    <hr>
                    <a href="" ng-click="LikeMensajeint(message1._id)"><i class="fa fa-thumbs-up"></i>Like</a>
                    <hr>
                    <div class="alert alert-info" role="alert">
                        <h6><i class="fa fa-thumbs-up"></i>{{message1.like}} person like this.</h6>
                    </div>
                </div>
                <div ng-hide="ed">
                    <form class="text-area">
                        <textarea ng-model="message1.text"></textarea>
                    </form>
                    <hr>
                    <a href="" ng-click="LikeMensajeint(message1._id)"><i class="fa fa-thumbs-up"></i>Like</a>
                    <a href="" ng-click="updateMessage(message1._id)"><i class="fa fa-send"></i>Update</a>
                    <hr>
                    <div class="alert alert-info" role="alert">
                        <h6><i class="fa fa-thumbs-up"></i>{{message1.like}} person like this.</h6>
                    </div>
                </div>
                <div ng-if="message1.comment.length!=0">
                Comments:
                </div>
                <ul class="list-group" ng-repeat="comments in comment">
                        <div class="panel panel-info">
                        <div class="panel-heading"><div align="right" ng-if="usr.admin ||comments.id==usuar.userid"><button class="btn btn-danger btn-sm" ng-click="borrarComment(message1._id, comments._id)">x</button> </div><h3><p class="text-primary">{{comments.username}}</p></h3>
                            <h6>{{comments.Date | amDateFormat: 'DD/MM/YYYY HH:mm:ss'}}</h6>
                        </div>
                        <div class="panel-body">
                            <p>{{comments.text}}</p>
                        </div>
                        <div class="panel-footer">
                            <a href="" ng-click="LikeComment(message1._id, comments._id)"><i class="fa fa-thumbs-up"></i>Like</a>
                            <div class="panel-footer"></div>
                            <h6><i class="fa fa-thumbs-up"></i>{{comments.like}} person like this.</h6>
                        </div>
                        </div>
                </ul>
            </div>
            <div class="modal-footer" ng-if="usuar._id">
                <div class="post">
                    <form class="text-area">
                        <textarea  ng-model="newComment.message" required="" placeholder="Comment the post"></textarea>
                    </form>
                    <div class="post-at">
                        <form class="text-sub">
                            <input type="submit" value="post" ng-click="enviarMensaje(message1._id)">
                        </form>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
    </div>