
 	<!--banner-->
		    <div class="banner">
		    	<h2>
				<a href="/">Home</a>
				<i class="fa fa-angle-right"></i>
				<span>Layout</span>
				</h2>
		    </div>
		<!--//banner-->
 	<!--grid-->
 	<div class="grid-system">
 		<!---->
 		<div class="horz-grid">
 		<div class="grid-hor">
 		<h3 id="grid-example-basic">Drone Legislation in Spain</h3>
 		<p class="">This page is a summary of the legislation for the Drones in spain<br>
    The legislation in Spain divides the drones into various categories, wi will resume the most practical an basic concepts and rules of each category:
   </p>
			</div>
    </div>

			<!---->
				<div class="horz-grid">
			<div class="grid-hor">
			<h3 id="grid-example-mixed">Hobby Drones</h3>
			<p> The legislation considers the Hobby drones the ones that doesn't excide teh 2 Kg and are not used for professional activities.<br>
      <br>For this category the main rules are listed in the following lines: </p>
				</div>
			<!---->
			<!-- Stack the columns on mobile by making one full-width and the other half-width -->
			<div class="row show-grid">
          - The Drone must not exceed an altitude of 120m .<br>
          - We can just fly with Drones in adecuate areas as aeromodelism flight zones or rural depopulate areas.<br>
          - The damages caused by the drone will be responsability of the pilot.<br>
          - It's completelly forbidden to flight near airports nor aerodromes and places where other aircrafts will flight with low altitude.<br>
          - We can not put on risk any other people nor flight over people agglomerations as weddings, beaches or concerts.<br>
			</div>
		</div>
			<!---->
				<div class="horz-grid">
			<div class="grid-hor">
			<h3 id="grid-example-mixed-complete">Professional</h3>
			<p>This category will englobe all the drones that are used in business to deploy his work.
      </p>
			</div>
			<!---->
			<div class="row show-grid">
        - The Drones that have a weight lower than 2Kg doesn't have the obligation of being registered on the aircraft register nor having an aeronavigation certificate.<br>
				- It's mandatory to add a plate to all kind of professional drones identifying properly the manufacturer of the drone and the legal data from the operator company.<br>
				- To make any operation in the air it's mandatory to request an official permission from AESA requesting the permission with at least 5 days.<br>
				- It's strongly forbidden to flight over urban nucleus nor spaces with a big people concentration without an special AESA permission.<br>
				- Each business must have a manual of operations following the standard provided by the ministry and a study of the security for each operation that is going to be realized.<br>
				- The designated pilots must have a official drone management license, if that pilots already have a pilot license it won't be necessary the drone management license<br>

			</div>
		</div>
			<!---->
				<div class="horz-grid">
			<div class="grid-hor">
			<h3 id="grid-example-wrapping">References</h3>
			<p>All this information is extracted from the actual legislation published on the BOE on 5 of July of 2014.<br>
				You can obtain more info at the <a href="http://www.seguridadaerea.gob.es/lang_castellano/cias_empresas/trabajos/rpas/default.aspx"> official legislation page</a>.
</p>
			</div>
		</div>


<!--scrolling js-->
	<script src="js/jquery.nicescroll.js"></script>
	<script src="js/scripts.js"></script>
	<!--//scrolling js-->
</body>
</html>
