
 	<!--banner-->
		    <div class="banner">
		    	<h2>
				<a href="/">Home</a>
				<i class="fa fa-angle-right"></i>
				<span>Layout</span>
				</h2>
		    </div>
		<!--//banner-->
 	<!--grid-->
 	<div class="grid-system">
 		<!---->
 		<div class="horz-grid">
 		<div class="grid-hor">
 		<h3 id="grid-example-basic">Drone Legislation in Spain</h3>
 		<p class="">This page is a summary of the legislation for the Drones in spain<br>
    The legislation in Spain divides the drones into various categories, wi will resume the most practical an basic concepts and rules of each category:
   </p>
			</div>
    </div>

			<!---->
				<div class="horz-grid">
			<div class="grid-hor">
			<h3 id="grid-example-mixed">Hobby Drones</h3>
			<p> The legislation considers the Hobby drones the ones that doesn't excide teh 2 Kg and are not used for professional activities.<br>
      <br>For this category the main rules are listed in the following lines: </p>
				</div>
			<!---->
			<!-- Stack the columns on mobile by making one full-width and the other half-width -->
			<div class="row show-grid">
			  <div class="col-xs-12 col-md-8">.col-xs-12 .col-md-8</div>
			  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
			</div>

			<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
			<div class="row show-grid">
			  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
			  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
			  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
			</div>

			<!-- Columns are always 50% wide, on mobile and desktop -->
			<div class="row show-grid">
			  <div class="col-xs-6">.col-xs-6</div>
			  <div class="col-xs-6">.col-xs-6</div>
			</div>
		</div>
			<!---->
				<div class="horz-grid">
			<div class="grid-hor">
			<h3 id="grid-example-mixed-complete">Professional</h3>
			<p>Build on the previous example by creating even more dynamic and powerful layouts with tablet
				 <code>.col-sm-*</code> classes.</p>
				</div>
			<!---->
			<div class="row show-grid">
			  <div class="col-xs-12 col-sm-6 col-md-8">.col-xs-12 .col-sm-6 .col-md-8</div>
			  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
			</div>
			<div class="row show-grid">
			  <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
			  <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
			  <!-- Optional: clear the XS cols if their content doesn't match in height -->
			  <div class="clearfix visible-xs-block"></div>
			  <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
			</div>
		</div>
			<!---->
				<div class="horz-grid">
			<div class="grid-hor">
			<h3 id="grid-example-wrapping">Example: Column wrapping</h3>
			<p>If more than 12 columns are placed within a single row, each group of extra columns will,
				as one unit, wrap onto a new line.</p>
			</div>

			<!---->
			<div class="row show-grid">
			  <div class="col-xs-9">.col-xs-9</div>
			  <div class="col-xs-4">.col-xs-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.</div>
			  <div class="col-xs-6">.col-xs-6<br>Subsequent columns continue along the new line.</div>
			</div>
		</div>
			<!---->
				<div class="horz-grid">
			<div class="grid-hor">
			<h3 id="grid-responsive-resets">Responsive column resets</h3>
			<p>With the four tiers of grids available you're bound to run into issues where,
				 at certain breakpoints, your columns don't clear quite right as one is taller than the other.
				  To fix that, use a combination of a <code>.clearfix</code> and our
				<a href="#responsive-utilities">responsive utility classes</a>.</p>
			</div>
			<!---->
			<div class="row show-grid">
			  <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>
			  <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>

			  <!-- Add the extra clearfix for only the required viewport -->
			  <div class="clearfix visible-xs-block"></div>

			  <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>
			  <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>
			</div>
		</div>
			<!---->
				<div class="horz-grid">
			<div class="grid-hor">
			<h3 id="grid-offsetting">Offsetting columns</h3>
			<p>Move columns to the right using <code>.col-md-offset-*</code> classes. These classes increase the left margin of a column by <code>*</code> columns. For example, <code>.col-md-offset-4</code> moves <code>.col-md-4</code> over four columns.</p>
			</div>
			<!---->
			<div class="row show-grid">
			  <div class="col-md-4">.col-md-4</div>
			  <div class="col-md-4 col-md-offset-4">.col-md-4 .col-md-offset-4</div>
			</div>
			<div class="row show-grid">
			  <div class="col-md-3 col-md-offset-3">.col-md-3 .col-md-offset-3</div>
			  <div class="col-md-3 col-md-offset-3">.col-md-3 .col-md-offset-3</div>
			</div>
			<div class="row show-grid">
			  <div class="col-md-6 col-md-offset-3">.col-md-6 .col-md-offset-3</div>
			</div>
		</div>
			<!---->
				<div class="horz-grid">
			<div class="grid-hor">
			<h3 id="grid-nesting">Nesting columns</h3>
			<p>To nest your content with the default grid, add a new <code>.row</code> and set of <code>.col-sm-*</code>
				columns within an existing <code>.col-sm-*</code> column. Nested rows should include a set of columns that add up to 12 or fewer
				(it is not required that you use all 12 available columns).</p>
			</div>
			<!---->
			<div class="row show-grid">
  <div class="col-sm-9">
    Level 1: .col-sm-9
    <div class="row">
      <div class="col-xs-8 col-sm-6">
        Level 2: .col-xs-8 .col-sm-6
      </div>
      <div class="col-xs-4 col-sm-6">
        Level 2: .col-xs-4 .col-sm-6
      </div>
    </div>
  </div>
</div>
</div>
<!---->
	<div class="horz-grid">
<div class="grid-hor">
<h3 id="grid-column-ordering">Column ordering</h3>
<p>Easily change the order of our built-in grid columns with <code>.col-md-push-*</code> and
	<code>.col-md-pull-*</code> modifier classes.</p>
 </div>
 	<!---->
 	<div class="row show-grid">
  <div class="col-md-9 col-md-push-3">.col-md-9 .col-md-push-3</div>
  <div class="col-md-3 col-md-pull-9">.col-md-3 .col-md-pull-9</div>
</div>
</div>
</div>
 	<!--//grid-->
		<!---->
<div class="copy">
            <p> &copy; 2016 Minimal. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>	    </div>
		</div>
		</div>
		<div class="clearfix"> </div>
       </div>

<!---->
<!--scrolling js-->
	<script src="js/jquery.nicescroll.js"></script>
	<script src="js/scripts.js"></script>
	<!--//scrolling js-->
</body>
</html>
