<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Add a message</div>
        <div class="panel-body">
            <form class="form" method="post" ng-submit="addShow()" name="addForm">
                <div class="form-group" ng-controller="MyApp">
                    <label class="control-label">Message</label>
                    <input class="form-control" type="text" name="messageBody" ng-model="newMessage.text" placeholder="Enter your message" required autofocus>
                </div>
                <button class="btn btn-primary" type="submit" ng-click="addMessage()">Add</button>
            </form>
        </div>
    </div>
</div>