<div class="banner">
    <h2>
        <a href="/" data-match-route="/">Home</a>
        <i class="fa fa-angle-right"></i><a href="/message">Message</a>
    </h2>
</div>
<div ng-if="message.username._id">
<div class="content-bottom">
<div class="col-md-12">
    <div class="panel panel-primary">
        <div class="panel-heading"><div align="right" ng-if="usuar.userid==message.username._id"><button class="btn btn-danger btn-sm" ng-click="borrarMensaje(message._id)">x</button> </div><h3>{{message.username.username}}</h3>
            <h6>{{message.createdAt}}</h6>
        </div>
        <div class="panel-body">
            <p>{{message.text}}</p>
        </div>
        <div class="panel-footer">
            <a href="" ng-click="LikeMensaje(message._id)"><i class="fa fa-thumbs-up"></i>Like</a>
            <div class="panel-footer">
                <div class="col-md-6"><h6><i class="fa fa-thumbs-up"></i>{{message.like}} person like this.</h6></div>
                <div class="col-md-6"><h6><i class="fa fa-comment"></i>{{message.comment.length}} comments.</h6></div>
            </div>

        </div>
    </div>
</div>
    <div ng-if="comment.length>0">
    <div class="col-md-12">
        <div class="tab-pane active text-style" id="tab1">
            <div class="inbox-right">

                <div class="mailbox-content">
                    Comments:
                    <ul class="list-group" ng-repeat="comments in comment">
                        <div class="panel panel-info">
                            <div class="panel-heading"><div align="right" ng-if="usuar.admin ||comments.id==usuar.userid"><button class="btn btn-danger btn-sm" ng-click="borrarComment(message._id, comments._id)">x</button> </div><h3><p class="text-primary">{{comments.username}}</p></h3>
                                <h6>{{comments.Date | amDateFormat: 'DD/MM/YYYY HH:mm:ss'}}</h6>
                            </div>
                            <div class="panel-body">
                                <p>{{comments.text}}</p>
                            </div>
                            <div class="panel-footer">
                                <a href="" ng-click="LikeComment(message._id, comments._id)"><i class="fa fa-thumbs-up"></i>Like</a>
                                <div class="panel-footer"></div>
                                <h6><i class="fa fa-thumbs-up"></i>{{comments.like}} person like this.</h6>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</div>
<div ng-if="err">
<div class="four">
    <img src="images/404.png" alt="" />
    <p>Seems like the message was deleted by the user or occurs an error.</p>
    <a href="/" class="hvr-shutter-in-horizontal">Go To Home</a>
</div>
</div>