<!--banner-->
<div class="banner">
    <h2>
        <a href="index.html">Home</a>
        <i class="fa fa-angle-right"></i>
        <span>Profile</span>
    </h2>
</div>
<!--//banner-->
<!--gallery-->
<div class=" profile">
    <form name="Form" ng-submit="submitForm(myForm.$valid)" novalidate>
        <div class="profile-bottom">
            <h3><i class="fa fa-user"></i>Profile</h3>
            <div class="profile-bottom-top">
                <div class="col-md-4 profile-bottom-img text-center">
                    <img ng-src={{currentUser.imageUrl}} width="150" height="150" alt="">
                </div>
                <div class="col-md-8 profile-text">
                    <h6><span class=" name-caret">{{currentUser.username}}</span></h6>

                    <table>
                        <tr>

                            <td ng-if="!userFB">Name</td>
                            <td ng-if="!userFB">:</td>
                            <td ng-if="edit==0" class=" name-caret">{{currentUser.name}}</td>
                            <td ng-if="edit==1" class=" name-caret">  <input type="text" class="form-control1" placeholder="Name " ng-model="currentUser.name" required></td>
                        </tr>
                        <tr>
                            <td ng-if="!userFB">Last Name</td>
                            <td ng-if="!userFB"> :</td>
                            <td  ng-if="edit==0" class=" name-caret">{{currentUser.lastname}}</td>
                            <td  ng-if="edit==1" class=" name-caret">  <input type="text" class="form-control1" placeholder="Last Name"ng-model="currentUser.lastname" required></td>
                        </tr>
                        <!--      <tr>
                              <td>Username </td>
                                <td>:</td>
                                <td class=" name-caret">{{currentUser.username}}</td>
                            </tr>-->
                        <tr >
                            <td>Email</td>
                            <td> :</td>
                            <td  ng-if="edit==0"class=" name-caret">{{currentUser.mail}}</span></td>
                            <td  ng-if="edit==1" class=" name-caret">
                                <input type="email" class="form-control1" placeholder="Email Address" ng-model="currentUser.mail" required>


                        </tr>
                        <tr  ng-if="edit==1">
                            <td>Password</td>
                            <td> :</td>

                            <td>
                                <a href="#" class="pro" data-toggle="modal" data-target="#changepassModal"><i class="fa fa-pencil-square-o icon_9"></i>Change Password </a>
                            </td>

                            <!--               <td  class=" name-caret">  <input type="password" class="form-control1" placeholder="Password" ng-model="currentUser.password"> </td>   -->

                        </tr>
                    </table>

                </div>
                <div class="clearfix"></div>
            </div>
            <div class="profile-bottom-bottom">
                <div class="profile-fo">
                    <div class="col-md-4" ng-if="!userFB">
                        <a href="#" ng-if="edit==0" ng-click="setEdit()" class="pro1"><i class="fa fa-user"></i>Edit Profile</a>
                        <a href="#" ng-if="edit==1" type="submit"  ng-click="updateUser()" class="pro1"><i class="fa fa-user"></i>Save Profile</a>
                    </div>
                    <div class="col-md-4">
                        <a href="#" class="pro" data-toggle="modal" data-target="#followingModal">Following: <i class="fa fa-user"></i> {{numFollowing}} People</a>
                    </div>
                    <div class="col-md-4">
                        <a href="#"  data-toggle="modal" data-target="#followersModal">Followers: <i class="fa fa-user"></i> {{ numFollowers}} People</a>
                    </div>
                    <div class="col-md-4">
                        <a href="#" class="pro" data-toggle="modal" data-target="#mydronesModal">My drones <i class="fa fa-plane"></i></a>
                    </div>

                </div>
                 <div ng-if="follow" class="modal fade" id="followingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title"><p class="text-primary">{{currentUser.username}} is Following :</p></h6></h2>
                                <table class="table">
                                    <thead class="thead-inverse">
                                    <tr>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th>Unfollow</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr  ng-repeat="following in followings">
                                        <td>{{following.username}}</td>
                                        <td>{{following.mail}}</td>
                                        <td><button type="submit" class="btn btn-danger btn-lg" ng-click="unfollow(following.username)"><i class="fa fa-times" aria-hidden="true"></i> Unfollow </button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="havedrone" class="modal fade" id="mydronesModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" >
                                <h2 class="modal-title"><p class="text-primary">{{currentUser.username}} have this drones</p></h6></h2>
                                <table class="table">
                                    <tbody ng-repeat="dr in drones">
                                    <tr class="table-row">
                                        <td> <img ng-src="{{dr.imageUrl}}" width="150" height="100" ng-click="gotoDrone(dr)"></td>
                                        <td  ng-click="gotoDrone(dr)">{{dr.model}}</td>
                                        <td  ng-click="gotoDrone(dr)">{{dr.vendor}}</td>
                                        <td>                            <a class="btn btn-default" ng-click="deleteDrone(dr._id)"><i class="fa fa-times"></i></a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="changepassModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title"><p class="text-primary">{{currentUser.username}}</p></h6></h2>
                                <table class="table">
                                    <thead class="thead-inverse">
                                    <tr>
                                        <th>Current </th>
                                        <th>New </th>
                                        <th>Retype New</th>
                                    </tr>
                                    </thead>

                                    <form>
                                        <td  class=" name-caret">  <input type="password" class="form-control1" placeholder="Password" ng-model="currentUser.pass" required> </td>
                                        <td  class=" name-caret">  <input type="password" class="form-control1" placeholder="Password" ng-model="currentUser.password1" required> </td>
                                        <td  class=" name-caret">  <input type="password" class="form-control1" placeholder="Password" ng-model="currentUser.password2" required> </td>
                                    </form>
                                    <tr>
                                        <td><button ng-if="edit==1" type="submit" class="btn bg-red" ng-click="checkpassword()" class="pro1"> Save changes </button></td>

                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-if="follower" class="modal fade" id="followersModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title"><p class="text-primary">{{currentUser.username}} is followed by :</p></h6></h2>
                                <table class="table">
                                    <thead class="thead-inverse">
                                    <tr>
                                        <th>Username</th>
                                        <th>Email</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr  ng-repeat="follower in followers">
                                        <td>{{follower.username}}</td>
                                        <td>{{follower.mail}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal fade" id="follersModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title"><p class="text-primary">Followers of {{currentUser.username}}</p></h6></h2>
                        </div>
                        <div class="modal-body">
                            <table class="table">
                                <tbody>
                                <tr class="table-row" ng-repeat="us in friensito" >
                                    <td class="table-img">
                                        <img src={{us.imageUrl}} alt="" height= "100" />
                                    </td>
                                    <td class="table-text">
                                        <h6> {{us.name}} {{us.lastname}}</h6>
                                        <p>{{us.username}}</p>
                                    </td>
                                    <td>
                                        <span class="fam">{{us.role}}</span>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>

        </div>

        <!--//gallery-->
        <!---->
    </form>
</div>
<div class="clearfix"> </div>
