<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="content-main">

        <!--banner-->
        <div class="banner">
            <h2>
                <a href="index.html">Home</a>
                <i class="fa fa-angle-right"></i>
                <span>Profile</span>
            </h2>
        </div>
        <!--//banner-->
        <!--gallery-->
        <div class=" profile">

            <div class="profile-bottom">
                <h3><i class="fa fa-user"></i>Profile</h3>
                <div class="profile-bottom-top">
                    <div class="col-md-4 profile-bottom-img">
                        <img src="images/user_big.png" alt="">
                    </div>
                    <div class="col-md-8 profile-text">
                        <h6>Manolo el del bombo</h6>
                        <table>
                            <tr><td>Name</td>
                                <td>:</td>
                                <td>Nombre</td></tr>
                            <tr>
                                <td>Last Name</td>
                                <td> :</td>
                                <td> Apellido</td>
                            </tr>
                            <tr>
                                <td>Username </td>
                                <td>:</td>
                                <td> Superman</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td> :</td>
                                <td><a href="socialdrone@gmail.com">socialdrone@gmail.com</a></td>
                            </tr>
                        </table>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="profile-bottom-bottom">
                    <div class="col-md-6 profile-fo">

                        <a href="/editprofile" class="pro1"><i class="fa fa-user"></i>Edit Profile</a>
                    </div>
                    <div class="col-md-6 profile-fo">

                        <a href="#"><i class="fa fa-cog"></i>Options</a>
                    </div>
                    <div class="clearfix"></div>
                </div>


            </div>
        </div>
        <!--//gallery-->
        <!---->

    </div>
    <div class="clearfix"> </div>
</div>
