<div class="banner">
    <h2>
        <a href="/" data-match-route="/">Home</a>
        <i class="fa fa-angle-right"></i><a href="/showevents">Show events</a>
    </h2>
</div>
<div class="content-bottom">
    <div class="col-md-12">
        <div class="grid_3 grid_5">
                <h3>Search by:</h3>
                <br>
                <button type="submit" class="btn btn-danger btn-block" ng-click="mylocation()">Your location</button>
                <br>
                <div align="center">
                    <h4>OR</h4>
                </div>
                <br>
                <div class="input-group input-group-in">
                    <input type="text" id="searchid" class="form-control2 input-search">
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="button"><i class="fa fa-search"></i></button>
                    </span>
                </div>
                <br>
                <h4>Add the maximum distance (Km):</h4>
                <br>
                <input type="number" class="form-control" ng-model="show.km">
                <br>
                <div align="center">
                    <button type="button" class="btn btn-warning">Search <i class="fa fa-search"></i></button>
                </div>
        </div>
        <div id="map" style="width:1070px;height:1000px;"></div>
    </div>
    <google-map center="map.center" zoom="map.zoom"></google-map>
</div>