<div class="banner">
    <h2>
        <a href="/" data-match-route="/">Home</a>
        <i class="fa fa-angle-right"></i><a href="/streamlist">Stream</a>
    </h2>
</div>
<!-- tab content -->
<div class="content-bottom">
    <div class="col-md-8">
        <div class="tab-pane active text-style" id="tab1">
            <div class="inbox-right">

                <div class="mailbox-content">
                    <div class="mail-toolbar clearfix">
                        <div class="float-left">
                            <div class="btn-group m-r-sm mail-hidden-options" style="display: inline-block;">

                                <div class="btn-group">
                                    <a class="btn btn-default dropdown-toggle" data-toggle="modal"  data-target="#myModal" aria-expanded="false"><i class="fa fa-plus"></i> Add new stream</span></a>

                                </div>
                            </div>


                        </div>
                        <div class="float-right">

                            <div class="btn-group">
                                <a class="btn btn-default"><i class="fa fa-angle-left"></i></a>
                                <a class="btn btn-default"><i class="fa fa-angle-right"></i></a>
                            </div>


                        </div>
                    </div>
                </div>
                <table class="table">
                    <tbody>
                    <tr class="table-row" ng-repeat="st in streams" >
                        <td class="table-img" ng-click="putStream(st)">
                            <img ng-src=st.drone.imageUrl alt="" height= "100" />
                        </td>
                        <td class="table-text" ng-click="putStream(dr)">
                            <h2> {{st.drone.model}}</h2>
                            <p>flying by:{{st.username}}</p>
                        </td>
                        <td>
                            <a class="btn btn-default btn-lg" ng-click="deleteStream(st)"><i class="fa fa-trash"></i></a> </td>
                    </tr>

                    </tbody>
                </table>
                <div id="alerts-container"></div>
                <div id="alerts-"></div>

                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title"><h6 class="text-primary">New Streaming</h6></h2>
                            </div>
                            <div class="modal-body">
                                <form name="myForm">
                                    Pilot : {{currentUser.username}}
                                    <br>
                                    <select ng-model="newStream.drone" width="100%" >
                                        <option class="table-row" ng-repeat="dr in currentUser.mydrones" ng-selected="newStream.drone == dr._id" value="{{dr._id}}"> {{dr.model}}</option>
                                    </select>
                                    <br>

                                    <input ng-if="checkbox.value==false" type="text" class="form-control input-lg text-center" placeholder="public IP of the Drone PC" ng-model="newStream.ip">
                                    <br>
                                </form>
                            </div>
                            <!-- Acciones que podemos realizar en el formulario -->

                            <button type="submit" class="btn btn-success btn-lg"  ng-click="newStream()">Add to Streamlist</button>
                            <button type="button" class="btn btn-danger btn-lg"  data-dismiss="modal" aria-hidden="true">Cancel</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>