<div class="content-bottom">
    <div class="col-md-12">
        <div class="tab-pane active text-style" id="tab1">
            <div class="inbox-right">

                <div class="mailbox-content">
                    <div class="mail-toolbar clearfix">
                        <div class="float-left">
                            <div class="btn-group m-r-sm mail-hidden-options" style="display: inline-block;">

                                <div class="btn-group">
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li><a href="#">Work</a></li>
                                        <li><a href="#">Family</a></li>
                                        <li><a href="#">Social</a></li>

                                        <li><a href="#">Primary</a></li>
                                        <li><a href="#">Promotions</a></li>
                                        <li><a href="#">Forums</a></li>
                                    </ul>
                                </div></div>


                        </div>

                    </div>
                    <table class="table">
                        <tbody>
                        <tr class="table-row">
                            <td><h3>Username</h3></td>
                            <td><h3>Name</h3></td>
                            <td><h3>User Mail</h3></td>
                            <td><h3>Delete user</h3></td>
                            <td><h3>Change role</h3></td>

                        </tr>
                        <tr ng-repeat="user in users" ng-click="selectUser(user)" ng-if="user._id!=usr._id">
                            <td>{{ user.username }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.mail }}</td>
                            <td ><button class="btn btn-default" ng-click="deluser(user.username)">X</button> </td>
                            <td ng-show="user.admin" ng-click="admincambiarol(user.username,false)">
                                <button class="btn btn-default"  ng-click="admincambiarol(user.username,false)">Remove admin role</button>
                            </td>
                            <td ng-show="!user.admin" ng-click="admincambiarol(user.username,true)">
                                <button class="btn btn-default" ng-click="admincambiarol(user.username,true)">Put admin role</button>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
