<div class="banner">
    <h2>
        <a href="index.html">Home</a>
        <i class="fa fa-angle-right"></i>
        <span>Profile</span>
    </h2>

</div>
<!--//banner-->
<!--gallery-->
<div class=" profile">
    <form name="Form">
        <div class="profile-bottom">
            <h3>
                <p align="right">
                    <button ng-if="userSearch._id!=myuser.userid && myuser.userid" class="btn btn-bitbucket" ng-click="initChat()">Chat</button>
                    <button ng-if="nolosigues"  class="btn btn-bitbucket" ng-click="letfollow()">Follow</button>
                    <button ng-if="nolosigues==false"  class="btn btn-flickr" ng-click="letunfollow()">Unfollow</button>
                </p>
                <i class="fa fa-user"></i>Profile</h3>
            <div class="profile-bottom-top">
                <div class="col-md-4 profile-bottom-img text-center">
                    <img ng-src={{userSearch.imageUrl}} width="150" height="150" alt="">
                </div>
                <div class="col-md-8 profile-text">
                    <h6><span class=" name-caret">{{userSearch.username}}</span></h6>

                    <table>
                        <tr><td ng-if="!fbuser">Name</td>
                            <td ng-if="!fbuser">:</td>
                            <td class=" name-caret">{{userSearch.name}}</span></td>
                        </tr>
                        <tr>
                            <td ng-if="!fbuser">Last Name</td>
                            <td ng-if="!fbuser"> :</td>
                            <td class=" name-caret">{{userSearch.lastname}}</span></td>
                        </tr>
                        <tr>
                            <td ng-if="!fbuser">Username </td>
                            <td ng-if="!fbuser">:</td>
                            <td class=" name-caret">{{userSearch.username}}</td>
                        </tr>

                        <tr >
                            <td>Email</td>
                            <td> :</td>
                            <td  class=" name-caret">{{userSearch.mail}}</span></td>
                        </tr>
                    </table>

                </div>
                <div class="clearfix"></div>
            </div>
            <div class="profile-bottom-bottom">
                <div class="profile-fo">
                    <div class="col-md-4">
                        <a href="#" class="pro" data-toggle="modal" data-target="#followingModal">Following: <i class="fa fa-user"></i> {{numFollowing}} People</a>
                    </div>
                    <div class="col-md-4">
                        <a href="#" data-toggle="modal" data-target="#followersModal" >Followers: <i class="fa fa-user"></i> {{ numFollowers}} People</a>
                    </div>
                    <div class="col-md-4">
                        <a href="#" class="pro" data-toggle="modal" data-target="#mydronesModal">My drones <i class="fa fa-plane"></i></a>
                    </div>

                </div>

                <div ng-if="follow" class="modal fade" id="followingModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" >
                                <h2 class="modal-title"><p class="text-primary">{{currentUser.username}} is Following :</p></h6></h2>
                                <table class="table">
                                    <thead class="thead-inverse">
                                    <tr>
                                        <th>Username</th>
                                        <th>Email</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr  ng-repeat="following in followings">
                                        <td>{{following.username}}</td>
                                        <td>{{following.mail}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-if="havedrone" class="modal fade" id="mydronesModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" >
                                <h2 class="modal-title"><p class="text-primary">{{currentUser.username}} have this drones</p></h6></h2>
                                <table class="table">
                                    <tbody ng-repeat="dr in drones">
                                    <tr class="table-row">
                                        <td> <img ng-src="{{dr.imageUrl}}" width="150" height="100" ng-click="gotoDrone(dr)"></td>
                                        <td  ng-click="gotoDrone(dr)">{{dr.model}}</td>
                                        <td  ng-click="gotoDrone(dr)">{{dr.vendor}}</td>
                                        <td ng-if="currentUser.userid==userSearch._id">                            <a class="btn btn-default" ng-click="deleteDrone(dr._id)"><i class="fa fa-times"></i></a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-if="follower" class="modal fade" id="followersModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title"><p class="text-primary">{{currentUser.username}} is followed by :</p></h6></h2>
                                <table class="table">
                                    <thead class="thead-inverse">
                                    <tr>
                                        <th>Username</th>
                                        <th>Email</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr  ng-repeat="follower in followers">
                                        <td>{{follower.username}}</td>
                                        <td>{{follower.mail}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="modal fade" id="follersModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title"><p class="text-primary">Followers of {{currentUser.username}}</p></h6></h2>
                        </div>
                        <div class="modal-body">
                            <table class="table">
                                <tbody>
                                <tr class="table-row" ng-repeat="us in friensito" >
                                    <td class="table-img">
                                        <img src={{us.imageUrl}} alt="" height= "100" />
                                    </td>
                                    <td class="table-text">
                                        <h6> {{us.name}} {{us.lastname}}</h6>
                                        <p>{{us.username}}</p>
                                    </td>
                                    <td>
                                        <span class="fam">{{us.role}}</span>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>


        </div>
        <!--//gallery-->
        <!---->
    </form>
</div>
<div class="clearfix"> </div>
